li 
  a.tag(href="#")
    i.fa.fa-plane
    span #{name}, #{location}
li
  a(href="/airport/#{location}/#{name}/")
    i.fa.fa-gears
    span.hidden-tablet= __("menu.control_panel")
li
  a(href="/airport/#{location}/#{name}/tasks")
    i.fa.fa-tasks
    span.hidden-tablet= __("menu.tasks")
li
  a(href="/airport/#{location}/#{name}/map")
    i.fa.fa-globe
    span.hidden-tablet= __("menu.map")
li
  a(href="/airport/#{location}/#{name}/employees")
    i.fa.fa-users
    span.hidden-tablet= __("menu.employees")
// li
  a(href="/airport/#{location}/#{name}/devices")
    i.fa.fa-signal
    span.hidden-tablet  Dispositivos
li
  a(href="/airport/#{location}/#{name}/categories")
    i.fa.fa-th-list
    span.hidden-tablet= __("menu.categories")
li 
  a.tag(href="#")
    i.fa.fa-th
    span= __("menu.all_installations")
- each airport in airports
  li.nonmark 
    a(href="/airport/#{airport.location}/#{airport.name}/")
      i.fa.fa-plane
      span #{airport.name}, #{airport.location}
li 
  a.tag(href="#")
    i.fa.fa-th
    span= __("menu.more_options")