extends layout_home
block scripts
  script.
    LOCATION = "#{location}"
    NAME = "#{name}"

  script(src='/scripts/alerts.js')
  script(src='/scripts/helpers.js')
  script(src='/scripts/tasksAsign.js')
  script(src='/scripts/airport.js')
block breadcrumb
  li
    i.fa.fa-home
    a(href='/index')= __("breadcrumb.index")
    i.fa.fa-angle-right
  li #{location}
    i.fa.fa-angle-right
  li #{name}
    i.fa.fa-angle-right
  li
    i.fa.fa-gears 
    = __("breadcrumb.control_panel")

block menu_options
  include ../partials/menu.jade
block content
  .span8
    .row-fluid
      .span4.statbox.green
        h1= __("panel.tasks.active")
        .footer= __("panel.tasks.tasks")
        .number
          span#tasks_active
        
      .span4.statbox.yellow
        h1= __("panel.tasks.pending")
        .footer= __("panel.tasks.tasks")
        .number
          span#tasks_pending
      .span4.statbox.blue
        h1= __("panel.tasks.complete")
        .footer= __("panel.tasks.tasks")
        .number
          span#tasks_complete
    .row-fluid
      .span12.box
        .box-header
          = __("panel.tasks.assign")
        .box-content
          ul.dashboard-list.metro
            li.orangeDark
              h3 
                i.fa.fa-times.orangeDark
                = __("panel.tasks.assign.partial")
            table.table.table-bordered.table-responsive
              thead
                tr
                  th= __("panel.tasks.table.id")
                  th= __("panel.tasks.table.pending")
                  th= __("panel.tasks.table.category")
                  th= __("panel.tasks.table.priority")
                  th= __("panel.tasks.table.description")
                  th= __("panel.tasks.table.actions")
              tbody#tasks_nonasign
                
            li.red
              h3 
                i.fa.fa-times.red
                = __("panel.works.pause")
            table.table.table-bordered.table-responsive
              thead
                tr
                  th= __("panel.tasks.table.id")
                  th= __("panel.tasks.table.employee")
                  th= __("panel.tasks.table.category")
                  th= __("panel.tasks.table.priority")
                  th= __("panel.tasks.table.register")
                  th= __("panel.tasks.table.state")
                  th= __("panel.tasks.table.description")
              tbody#works_stop
            li.yellow
              h3
                i.fa.fa-minus.yellow
                = __("panel.works.pending")
            table.table.table-bordered.table-responsive.flexy
              thead
                tr
                  th= __("panel.tasks.table.id")
                  th= __("panel.tasks.table.employee")
                  th= __("panel.tasks.table.category")
                  th= __("panel.tasks.table.priority")
                  th= __("panel.tasks.table.register")
                  th= __("panel.tasks.table.description")
              tbody#works_pending
            li.green
              h3 
                i.fa.fa-plus.green
                = __("panel.works.active")
            table.table.table-bordered.table-responsive
              thead
                tr
                  th= __("panel.tasks.table.id")
                  th= __("panel.tasks.table.employee")
                  th= __("panel.tasks.table.category")
                  th= __("panel.tasks.table.priority")
                  th= __("panel.tasks.table.register")
                  th= __("panel.tasks.table.description")
              tbody#works_active
            li.blue
              h3 
                i.fa.fa-check.blue
                = __("panel.works.complete")
            table.table.table-bordered.table-responsive
              thead
                tr
                  th= __("panel.tasks.table.id")
                  th= __("panel.tasks.table.employee")
                  th= __("panel.tasks.table.category")
                  th= __("panel.tasks.table.priority")
                  th= __("panel.tasks.table.register")
                  th= __("panel.tasks.table.description")
              tbody#works_complete
  .span4.box
    .box-header
      = __("panel.employees.employees")
    .box-content
      table.table.table-bordered.table-responsive.flexy
        thead
          tr
            th= __("panel.employees.table.history")
            th= __("panel.employees.table.id")
            th= __("panel.employees.table.name")
            th= __("panel.employees.table.category")
            th= __("panel.employees.table.state")
        tbody#employees_state