extends layout_admin

block scripts
  script(src="/javascripts/beacons.js")

  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src='/javascripts/maps/#{location}.#{name}.js')
  script(src='/javascripts/maps/base.map.js')
block content
  .container-fluid(ng-controller="MapCtrl as map")
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li #{location}
      li #{name}
      li.active Beacons
    .row
      .col-xs-12.col-md-3
        .panel.panel-info
          .panel-heading
            h1 Registrar un Beacon
          .panel-body
            form(action="/admin/beacon/create", method="POST")
              .row
                .col-xs-8
                  .form-group
                    input.form-control(name="id_beacon", placeholder="ID Beacon")
                .col-xs-4
                  .form-group
                    input.form-control(id="cell" name="id_cell" placeholder="ID Celda" disabled)
                    input.hide.form-control(id="cell_hide" name="id_cell_hide")
              button.btn.btn-success(title="Registrar", type="submit") Registrar
          .panel-footer
            p Para añadir la celda es necesario seleccionarla en el mapa, no se puede modificar manualmente.
        .panel.panel-info
          .panel-heading
            h1 Beacons
          .panel-body.table-responsive
            table.table
              tbody
                tr
                  td ID Beacon
                  td ID Celda
                  td Acciones
                - each beacon in beacons
                  tr
                    td= beacon.id_beacon
                    td= beacon.id_cell
                    td.actions-group
                      button.btn.btn-info.left(title="Editar", onclick="$(\'#ed_#{beacon.id_beacon}\').toggle('fast')")
                        i.fa.fa-edit
                      form(action="/admin/beacon/delete", method="POST")
                        input.hide(name="id_beacon",value="#{beacon.id_beacon}")
                        button.btn.btn-danger(title="Eliminar", type="submit")
                          i.fa.fa-trash
                  tr.edit_beacon(id="ed_#{beacon.id_beacon}")
                    form(action="/admin/beacon/update", method="POST")
                      td
                        input.hide(name="id_beacon_old", value="#{beacon.id_beacon}")
                        input.form-control(name="id_beacon",placeholder="ID Beacon: #{beacon.id_beacon}")
                      td
                        input.form-control(name="id_cell",placeholder="ID Celda: #{beacon.id_cell}" disa)
                      td.actions-group
                        button.btn.btn-success(title="Guardar", type="submit")
                          i.fa.fa-save
      .col-xs-12.col-md-9
        .panel.panel-info
          .panel-heading
            h1 Mapa
          .panel-body
            #map_canvas
    