extends layout_admin

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

  script.
    ID_INSTALLATION = "#{id_installation}"
  
  script(src='/scripts/alerts.js')
  script(src='/scripts/employees/employees.js')

block breadcrumb
  ul.breadcrumb
    li
      i.fa.fa-home
      a(href='/index')= __("home.index")
      i.fa.fa-angle-right
    li 
      | #{id_installation}
      i.fa.fa-angle-right
    li
      i.fa.fa-users
      = __("home.employees")
block menu_options
  include single_menu.jade

block content
  .row-fluid
    .span12.box
      .box-header
        = __("home.employees")
      .box-content
        table.table.table-bordered.table-responsive
          thead
            tr
              th= __("employees.history")
              th= __("employees.id")
              th= __("employees.name")
              th= __("employees.last_name")
              th= __("employees.category")
              th= __("employees.device")
              th= __("employees.actions")
          tbody#employee_list
        
            
