extends layout_admin

block scripts
  script(src="/javascripts/employee.js")
block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Administración
      li #{location}
      li
        a(href="/admin/config/#{location}/#{name}") #{name}
      li.active Empleados
    .row
      .col-xs-12.col-md-8
        .panel.panel-info
          .panel-heading
            h1 Empleados
          .panel-body.table-responsive
            table.table
              tbody
                tr
                  td Historial
                  td ID Persona
                  td ID Push
                  td ID Empleado
                  td Nombre
                  td Tipo Empleado
                  td Dispositivo
                  td Acciones
                - each person in people
                  tr(id="rigid_#{person.id_person}")
                    td.actions-group
                      button.btn.btn-info.left(title="Historial")
                        i.fa.fa-history
                    td= person.id_person
                    td= person.id_push
                    td= person.worker_id
                    td= person.worker_name
                    td= person.worker_type
                    td= person.device_type
                    td.actions-group
                      button.btn.btn-info.left(title="Editar", onclick="editable(\'#{person.id_person}\')")
                        i.fa.fa-edit
                      form(action="/admin/config/#{location}/#{name}/employee/delete", method="POST")
                        input.hide(name="id_person",value="#{person.id_person}")
                        button.btn.btn-danger(title="Eliminar", type="submit")
                          i.fa.fa-trash
                  tr.edit_employee(id="ed_#{person.id_person}")
                    form(action="/admin/config/#{location}/#{name}/employee/update", method="POST")
                      td
                        input.hide(name="id_person_old", value="#{person.id_person}")
                      td
                        input.form-control(name="id_person",placeholder="#{person.id_person}")
                      td
                        input.form-control(name="id_push",placeholder="#{person.id_push}")
                      td
                        input.form-control(name="worker_id",placeholder="#{person.worker_id}")
                      td
                        input.form-control(name="worker_name",placeholder="#{person.worker_name}")
                      td
                        input.form-control(name="worker_type",placeholder="#{person.worker_type}")
                      td
                        input.form-control(name="device_type",placeholder="#{person.device_type}", disabled)
                      td.actions-group
                        button.btn.btn-success.left(title="Guardar", type="submit")
                          i.fa.fa-save
                        button.btn.btn-warning(title="Cancelar", type="reset" onclick="no_editable(\'#{person.id_person}\')")
                          i.fa.fa-times-circle-o
      .col-xs-12.col-md-4
        .panel.panel-info
          .panel-heading
            h1 Registrar un Empleado
          .panel-body
            form(action="/admin/config/#{location}/#{name}/employee/create", method="POST")
              .form-group
                input.form-control(name="id_person", placeholder="ID Persona")
              .form-group
                input.form-control(name="id_push", placeholder="ID Push")
              .form-group
                input.form-control(name="worker_id", placeholder="ID Empleado")
              .form-group
                input.form-control(name="worker_name", placeholder="Nombre")
              .form-group
                input.form-control(name="worker_type", placeholder="Tipo Empleado")
              button.btn.btn-success(title="Registrar", type="submit") Registrar