extends layout_home

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

  script.
    LOCATION = "#{location}"
    NAME = "#{name}"
  
  script(src='/scripts/alerts.js')
  script(src='/scripts/helpers.js')
  script(src='/scripts/localizations.js')
  script(src='/maps/localization.map.js')

block breadcrumb
  li
    i.fa.fa-home
    a(href='/index') Inicio
    i.fa.fa-angle-right
  li #{location}
    i.fa.fa-angle-right
  li #{name}
    i.fa.fa-angle-right
  li
    i.fa.fa-users 
    a(href='/airport/#{location}/#{name}/employees') Empleados
    i.fa.fa-angle-right
  li
    i.fa.fa-history 
    | Histórico
  - if(person != null)
    i.fa.fa-angle-right
    li#id_person(data="#{person.id_person}")
      i.fa.fa-user 
        | #{person.worker_name}

block menu_options
  include ../partials/menu.jade
block content
  .row-fluid
    - if(person == null)
      .statbox.span12.red
        h1 Este empleado no existe.
        h2 Intente utilizar las funciones desde el panel de control y no introducir la dirección URL en la barra de direcciones del navegador.
    - else
      .span4.box
        .box-header
          | Datos del empleado
        .box-content
          table.table.table-bordered.table-responsive
            thead
              tr
                th ID Empleado
                th Nombre
                th Categoría
                th Dispositivo
            tbody
              tr
                td= person.id_person
                td= person.worker_name
                td= person.worker_type
                td= person.device_type
      .row-fluid
        .span12.box
          .box-header
            | Mapa de actividad
          .box-content
            #map_canvas
        
            
