extends layout_admin

block links
    link(rel='stylesheet' href="/css/history.css")
    link(rel='stylesheet' href="/css/timeline.css")
    link(rel='stylesheet' href="/css/magnific-popup.css")

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false&libraries=geometry")
  script.
    ID_INSTALLATION = "#{id_installation}"
    ID_EMPLOYEE = "#{employee.id_employee}"
  
  script(src="/scripts/installation/helper.js")
  script(src='/js/moment-with-locales.js')
  script(src='/js/circles.min.js')
  script(src='/scripts/scroll.js')
  script(src='/scripts/history/timeline.js')
  script(src='/scripts/history/tasks.js')
  script(src='/scripts/history/chat.js')
  script(src='/scripts/history/loadMap.js')
  script(src='/js/jquery.magnific-popup.min.js')

block breadcrumb
  ul.breadcrumb
    li
      i.fa.fa-home
      a(href='/index')= __("home.index")
      i.fa.fa-angle-right
    li 
      | #{id_installation}
      i.fa.fa-angle-right
    li
      i.fa.fa-users
      = __("home.employees")
      i.fa.fa-angle-right
    li 
      | #{employee.id_employee}
block menu_options
  include single_menu.jade

block content
  .row-fluid
    .span4
      .row-fluid
        .span12.statbox.green
          h1
            | #{employee.name}
          h2
            | #{employee.last_name}
          .footer
            | #{employee.category}
          .number
            | #{employee.id_employee}
          .stats
            button(title=__("history.stats.refresh"))#stats-refresh
              i.fa.fa-refresh
      .row-fluid.selector-date
        .span12.box
          .box-header
            .span1.center
              button(title=__("history.date.prev"))#prev-date
                i.fa.fa-angle-left
            .span10.center
              p Tasks List
              p#tasks-date
            .span1.center
              button(title=__("history.date.next"))#next-date
                i.fa.fa-angle-right
          .box-content.tasks
            ul.dashboard-list.metro#tasks
          .bow-footer
            .span11
            .span1
              button(title=__("history.date.refresh"))#task-refresh
                i.fa.fa-refresh
      .row-fluid
        .box
          .box-header.transparent
            .span11.center
              p= __("history.chat.title")
            .span1.center
              button(title=__("history.chat.clear"))#chat-clear
                i.fa.fa-trash
          .box-content.chat
            .messages
              .content.scrollable.scrollbar.chat-scrollbar
            hr
            .input
              button.send.btn.btn-success
                i.fa.fa-paper-plane
              textarea(rows="5").write
            
    .span8
      .row-fluid.circleStats
        .span4
          .circleStatsItemBox.orange
            .header Elapsed
            .circleStat
              #avg-elapsed.circle
        .span4
          .circleStatsItemBox.orangeDark
            .header Offset
            .circleStat
              #avg-offset.circle
        .span4
          .circleStatsItemBox.green
            .header Active
            .circleStat
              #avg-active.circle
      .row-fluid.circleStats
        .span4
          .circleStatsItemBox.blue
            .header Completed
            .circleStat
              #avg-completed.circle
        .span4
          .circleStatsItemBox.red
            .header Canceled
            .circleStat
              #avg-canceled.circle
        .span4
          .circleStatsItemBox.yellow
            .header Paused
            .circleStat
              #avg-paused.circle
      .row-fluid
        .span12.box
          .box-header.selector-date
            .row-fluid
              .span1.center
                button(title=__("history.date.prev") onclick="moveDateMap('prev')")
                  i.fa.fa-angle-left
              .span5.center
                p= __("map.track")
              .span4.center
                p#map-date
              .span1.center
                button(title=__("history.date.refresh") onclick="refreshMap()")
                  i.fa.fa-refresh
              .span1.center
                button(title=__("history.date.next") onclick="moveDateMap('next')")
                  i.fa.fa-angle-right
            .row-fluid
              form.slider-hour
                .span1
                  | Only Important
                .span1  
                  input#important(type="checkbox")
                .span1
                  | Hour selector
                .span1  
                  output#output(for='value') 00:00
                .span8
                  input#value(type='range', value='0', step='1', min='0', max='24', oninput='outputUpdate(value)')
            .row-fluid#loading
          .box-content
            #map_canvas

    .row-fluid.white-popup.mfp-with-anim.mfp-hide#tasks-popup
      .span12.box
        .box-header
          p#tasks-details-title Tasks Details
        .box-content.tasks-details#tasks-details
