extends layout_home

block breadcrumb
  li
    i.fa.fa-home
    a(href='/index') Inicio

block content
  - each airport in airports
    .row-fluid
      .span12.box
        .box-header
          h2 #{airport.location}
          strong - #{airport.name}
        .box-content.desktop
          .span3
            a.quick-button.metro.yellow(href="/airport/#{airport.location}/#{airport.name}")
              i.fa.fa-gears
              p Panel de control
          .span3
            a.quick-button.metro.green(href="/airport/#{airport.location}/#{airport.name}/tasks")
              i.fa.fa-tasks
              p Tareas
          .span2
            a.quick-button.metro.blue(href="/airport/#{airport.location}/#{airport.name}/map")
              i.fa.fa-globe
              p Mapa
          .span2
            a.quick-button.metro.red(href="/airport/#{airport.location}/#{airport.name}/employees")
              i.fa.fa-users
              p Empleados
          //.span2
            a.quick-button.metro.purple(href="/airport/#{airport.location}/#{airport.name}/devices")
              i.fa.fa-signal
              p Dispositivos
          .span2
            a.quick-button.metro.black(href="/airport/#{airport.location}/#{airport.name}/categories")
              i.fa.fa-th-list
              p Categorías
        .box-content.tablet
            a.btn.yellow.tablet(title="Panel de Control" href="/airport/#{airport.location}/#{airport.name}")
              i.fa.fa-gears
            a.btn.green.tablet(title="Tareas" href="/airport/#{airport.location}/#{airport.name}/tasks")
              i.fa.fa-tasks
            a.btn.blue.tablet(title="Mapa" href="/airport/#{airport.location}/#{airport.name}/map")
              i.fa.fa-globe
            a.btn.red.tablet(title="Empleados" href="/airport/#{airport.location}/#{airport.name}/employees")
              i.fa.fa-users
            a.btn.black.tablet(title="Categorías" href="/airport/#{airport.location}/#{airport.name}/categories")
              i.fa.fa-th-list