extends layout_admin

block content
  - each complex in installations
    .row-fluid
      .span12.box
        .box-header
          h1= complex.name
          h5= complex.details
        .box-content
          .span6
            ul.dashboard-list
              li
                .row-fluid
                  .span3
                    a.btn.yellow.button-fixed(href="/installation/#{complex.id_installation}/control?name=#{admin.name}&id=#{admin.id}")
                      i.fa.fa-gears
                  .span9
                    h3= __("home.control_panel")
              li
                .row-fluid
                  .span3
                    a.btn.green.button-fixed(href="/installation/#{complex.id_installation}/activities?name=#{admin.name}&id=#{admin.id}")
                      i.fa.fa-tasks
                  .span9
                    h3= __("home.activities")
              li
                .row-fluid
                  .span3
                    a.btn.blue.button-fixed(href="/installation/#{complex.id_installation}/map?name=#{admin.name}&id=#{admin.id}")
                      i.fa.fa-globe
                  .span9
                    h3= __("home.map")
          .span6
            ul.dashboard-list
              li
                .row-fluid
                  .span3
                    a.btn.red.button-fixed(href="/installation/#{complex.id_installation}/employees?name=#{admin.name}&id=#{admin.id}")
                      i.fa.fa-users
                  .span9
                    h3= __("home.employees")
              li
                .row-fluid
                  .span3
                    a.btn.black.button-fixed(href="/installation/#{complex.id_installation}/categories?name=#{admin.name}&id=#{admin.id}")
                      i.fa.fa-th-list
                  .span9
                    h3= __("home.categories")