extends layout_admin

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")

  script.
    LOCATION = "#{location}"
    NAME = "#{name}"
  
  script(src='/javascripts/maps/helpers.map.js')
  script(src='/javascripts/maps/base.map.js')
block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Mapas
      li #{location}
      li.active #{name}
    .row
      .col-xs-12.col-md-12
        .panel.panel-info
          .panel-heading
            .row
              .col-xs-12.col-md-10
                h1 Mapa: #{location}, #{name}
              .col-xs-12.col-md-2
                input.switch#sw_editmode(type="checkbox")
                label.pull-right(for="sw_editmode") Modo edición
                p.pull-right Click sobre la celda para eliminar
                p.pull-right Para completar la edición tiene que finalizar el modo edición antes de salir
          .panel-body
            #map_canvas
