extends layout_admin

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src='/javascripts/maps/#{location}.#{name}.js')
block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Mapas
      li #{location}
      li.active #{name}
    .row
      .col-xs-12.col-md-12
        .panel.panel-info
          .panel-heading
            h1 Mapa: #{location}, #{name}
          .panel-body
            #map_canvas