extends layout_admin

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

  script.
    LOCATION = "#{location}"
    NAME = "#{name}"
  
  script(src='/javascripts/maps/helpers.map.js')
  script(src='/javascripts/maps/base.map.js')
  
block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Administración
      li #{location}
      li
        a(href="/admin/config/#{location}/#{name}") #{name}
      li.active Mapa
    .row
      .col-xs-12.col-md-12
        .panel.panel-info
          .panel-heading
            .row
              .col-xs-12.col-md-10
                h1 Mapa: #{location}, #{name}
              .col-xs-12.col-md-2
                input.switch#sw_editmode(type="checkbox")
                label.pull-right(for="sw_editmode") Modo edición
          .panel-body
            #map_canvas
          .panel-footer
            p Para eliminar una celda es necesario hacer click sobre ella y confirmar el mensaje que aparece a continuación del click.
            p Siempre que se quiera interactuar con el mapa para modificarlo es necesario que el Modo edición esté activado.
  #dialog-confirm-cell(title="Eliminar celda")
    p .