extends layout
      
block content
  table.table
    tbody
      tr
        td person_id
        td push_id
        td worker_id
        td worker_name
        td worker_type
        td device_type
      - each person in people
        tr
          td= person.id_person
          td= person.id_push
          td= person.worker_id
          td= person.worker_name
          td= person.worker_type
          td= person.device_type