extends layout_home

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

  script.
    LOCATION = "#{location}"
    NAME = "#{name}"
  
  script(src='/maps/helpers.map.js')
  script(src='/maps/base.map.js')
  script(src='/js/jquery.multi-select.js')
  script(src='/scripts/employeesByType.js')
  script(src='/scripts/tasksAsign.js')

block breadcrumb
  li
    i.fa.fa-home
    a(href='/index') Inicio
    i.fa.fa-angle-right
  li #{location}
    i.fa.fa-angle-right
  li #{name}
    i.fa.fa-angle-right
  li
    i.fa.fa-th-list 
    | Tareas

block menu_options
  include ../partials/menu.jade
block content
  .row-fluid
    .span12.box
      .box-header
        | Crear una nueva tarea
      .box-content
        .row-fluid
          .span4
            .control-group
                label.control-label Celda
                .controls
                  input#cell(type='text', placeholder="ID celda", disabled)
                  input#cell_hide.hide(name="id_cell_hide")
            .control-group
              label.control-label(for='tasksType') Categoría
              .controls
                select#tasksType(data-rel='chosen')
                  - each type in types
                    option(value="#{type.name}")= type.name.toUpperCase()
            .control-group
                label.control-label Número de empleados
                .controls
                  input#nEmployees(type='number', placeholder="Número de empleados" min="1" value="1" step="1")
          .span4
            .control-group
                label.control-label Prioridad
                .controls
                  p
                    span.left 
                      strong Baja
                    span.right 
                      strong Alta
                  input(type="range" name="taskPriority" min="0" max="2" value="0" list="steps")
                  datalist#steps
                    option 0
                    option 1
                    option 2
            .control-group
              label.control-label(for="description") Descripción
              .controls
                textarea.no-resize#description(name="task_description" rows="6")
          .span4
            .control-group
              label.control-label(for='tasksAsign') Asignación
              .controls
                select#tasksAsign
                  option(value="automatico") AUTOMÁTICO
                  option(value="manual") MANUAL
            #manualAsignGroup
              .control-group
                label.control-label(for='manualAsign') Empleados asignados
                .controls
                  select#select-employees(name="employees" multiple)
        .row-fluid
          .form-actions
            button.btn.btn-primary#saveTask Guardar
            button.btn(type="reset") Cancelar
  .row-fluid
    .span12
      .span12.box
        .box-header
          | Mapa de selección
        .box-content
          #map_canvas
            
