extends layout_admin

block scripts
  script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA5X8YsmAwkfl6i-QnAGSXPJOLaY52ANsM&sensor=false")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
  script(src='/javascripts/jquery.multi-select.js')
  script(src='/javascripts/multiselect-config.js')

  script.
    LOCATION = "#{location}"
    NAME = "#{name}"
    
  
  script(src='/javascripts/maps/helpers.map.js')
  script(src='/javascripts/maps/base.map.js')

block content
  .container-fluid
    ol.breadcrumb
      li
        a(href="/admin") Inicio
      li Administración
      li #{location}
      li.active #{name}
    .row
      .col-xs-12.col-md-4
        .panel.panel-info
          .panel-heading
            h1 Listado de Trabajos
          .panel-body.table-responsive
            table.table
              tr
                th ID Tarea
                th ID Empleado
                th Nombre Empleado
                th Estado
                th Información
              - each work in works
                tr
                  th= work.id_task
                  th= work.person.worker_id
                  th= work.person.worker_name
                  th(class="#{work.state}")= work.state
                  td.actions-group
                    button.btn.btn-info.left(title="Ver toda la Información", onclick="show_info(\'#{work.id_task}\')")
                      i.fa.fa-eye
      
    